body {
	font-family: "DM Sans" !important;
}

html {
	@apply overflow-hidden bg-surface-900;
	font-size: 14px;
}

.bg {
	@apply bg-surface-900;
}

.label {
	@apply text-sm text-surface-300;
}

.card {
	@apply rounded-md bg-surface-50 p-2 text-surface-700 shadow-sm ring-1 ring-inset ring-surface-300 focus-visible:ring-2 focus-visible:ring-primary-500 dark:bg-surface-800/60 dark:text-surface-200 dark:ring-surface-700 dark:focus-visible:ring-primary-400;
}

/* Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

// Primevue Theming
$border-radius: 4px;

.p-button {
	@apply px-3 py-1 !important;
	border-radius: $border-radius;
}
.p-inputtext {
	@apply px-2 py-1.5 !important;
	border-radius: $border-radius !important;
}
.p-divider-content {
	@apply bg-surface-950 px-4 !important;
}
